<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdnjs.com/libraries/Chart.js"></script>

</head>

<body>

    <div class="container">

        <nav class="navbar navbar-inverse navbar-expand-xl navbar-dark" style="z-index: 5000;">
            <div class="navbar-header d-flex col">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                    class="navbar-toggle navbar-toggler ml-auto">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                <form action="/search" method='POST' <div class="form-horizontal">
                    <input type="text" name="termino" id="termino" class="form-control"
                        placeholder="Search pproducts..." style="width:280px;max-width:380px;display:inline-block;    margin-top: 11px;
" /> <button type="submit" class="btn btn-primary" style="margin-left:-8px;margin-top:-2px;min-height:34px;">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>


                    <a class="navbar-brand" style="float:left" href="/">
                        <i class="fa fa-cube"></i>Employees
                        <b>CMS</b>
                    </a>



                    <ul class="nav navbar-nav navbar-right ml-auto">







                        <li class="nav-item active">
                            <a href="/" class="nav-link">
                                <i class="fa fa-home"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/categories" class="nav-link">
                                <i class="fa fa-gears"></i>
                                <span>Categories</span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="../shops" class="nav-link">
                                <i class="material-icons" style="font-size:20px">store_mall_directory</i>

                                <span>Shops</span>
                            </a>
                        </li>



                        <li class="nav-item dropdown">

                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
                                Issues
                                <i class="fa fa-bell"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/lfmissing" class="dropdown-item">
                                        <i class="fa fa-user-o"></i> life style issues</a>
                                </li>
                                <li>
                                    <a href="/ordermissing" class="dropdown-item">
                                        <i class="fa fa-calendar-o"></i> order issues</a>
                                </li>
                                <li>
                                    <a href="/illustrationmissing" class="dropdown-item">
                                        <i class="fa fa-sliders"></i> illustration missing</a>
                                </li>
                                <li class="divider dropdown-divider"></li>

                            </ul>
                        </li>


                        <li class="nav-item dropdown">

                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
                                <img src="https://cdn0.iconfinder.com/data/icons/flat-profession-icons-2/48/131-512.png"
                                    class="avatar" alt="Avatar" width="50px" height="50px"> Mohtadi Bakali
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-user-o"></i> Profile</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-calendar-o"></i> Calendar</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-sliders"></i> Settings</a>
                                </li>
                                <li class="divider dropdown-divider"></li>
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <i class="material-icons">&#xE8AC;</i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
        {{{body}}}
    </div>
