<div class="container">
<table class="table">
	<thead>
	<tr>
		<th>id</th>
		<th>birt_date</th>
		<th>First name</th>
		<th>Last Name</th>
		<th>Gender</th>
		<th>Hire Date</th>
	</tr>
	</thead>
<tbody>
	{{#each rows}}
	<tr class="active">
		<td>
			<a href="https://dwell.co.uk/{{id}}">{{emp_no}}</a>
		</td>
		<td> {{birth_date}}</td>
		<td> {{first_name}}</td>
		<td> {{last_name}}</td>
		<td> {{gender}}</td>
		<td> {{hire_date}}</td>

	</tr>
	{{/each}}
	</tbody>

	</table>


</div>
