<html>


 




<script>
  var miarr =[];
  miarr += '{"theTeam":[';
</script>

 {{#each rows4}}
  <script>
      miarr += '{ "{{type}}": "{{total}}" },';
  </script>
 {{/each}}


<script>
    miarr += ']';
    var miarr = miarr.replace('},]', '}]}');
    var parse_obj = JSON.parse(miarr);            
  </script>

<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load( "visualization", "1" , { packages: ["corechart"] });
    google.load( "visualization", "1" , { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart2);

    function drawChart2() {
       var data2 = google.visualization.arrayToDataTable([
        ['Task', 'link', 'Issues Types'],
        ['Life Style', '/lfmissing', {{ rows }}],
       ['Order issues', '/ordermissing', {{ rows2 }}],
      ['Illustration missing', '/illustrationmissing', {{ rows3 }}] 
        ]);

    var view2 = new google.visualization.DataView(data2);
    view2.setColumns([0, 2]);

    var options = {
      title: 'Categories'
    };

    var chart2 = new google.visualization.PieChart(
      document.getElementById('chart_div2'));
    chart2.draw(view2, options);

    var selectHandler = function (e) {
      window.location = data2.getValue(chart2.getSelection()[0]['row'], 1);
    }

    // Add our selection handler.
    google.visualization.events.addListener(chart2, 'select', selectHandler);
      }

  </script>

  <script>
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Task', 'link', 'Issues Types'],
        ['Life Style', '/lfmissing', {{ rows }}],
       ['Order issues', '/ordermissing', {{ rows2 }}],
      ['Illustration missing', '/illustrationmissing', {{ rows3 }}] 
        ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([0, 2]);

    var options = {
      title: 'Images issues'
    };

    var chart = new google.visualization.BarChart(
      document.getElementById('chart_div'));
    chart.draw(view, options);

    var selectHandler = function (e) {
      window.location = data.getValue(chart.getSelection()[0]['row'], 1);
    }

    // Add our selection handler.
    google.visualization.events.addListener(chart, 'select', selectHandler);
      }       
  </script>
</head>

<body>
  <div id="chart_div" style="width: 650px; height: 480px; top: 8%; position: absolute;float:right"></div>

</body>
<div id="chart_div2" style="width: 45%; height: 500px; right: 10%;float:right "></div>

</html>
 